@font-face {
    font-family: 'ambleregular';
    src: url('./fonts/AmbleFont/amble-regular-webfont.woff2') format('woff2'),
         url('./fonts/AmbleFont/amble-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --main-color-50: #f5f3ff;
    --main-color-100: #ede9fe;
    --main-color-200: #ddd6fe;
    --main-color-300: #c4b5fd;
    --main-color-400: #a78bfa;
    --main-color-500: #8b5cf6;
    --main-color-600: #7c3aed;
    --main-color-700: #6d28d9;
    --main-color-800: #5b21b6;
    --main-color-900: #4c1d95;


}
*{
    font-family: 'ambleregular';

    
    
}
body{

    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}
.topBanner{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.sideBar{
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}


/* 
SIDEBAR 
*/

.sideBar{
    background-color: var(--main-color-500);
    font-weight: 700;
    color: var(--main-color-200);
}
.sideBarTop{
    display: flex; 
    align-items: center;  
    font-size: 1.5em; 
    
}

.sideBarGrid{
    display: grid;
    grid-template-rows: repeat(10, 1fr) 10fr;
    /* grid-template-columns: 1fr 4fr; */
    align-items: center;  

}

img[src*='sidebarIcons']{
    height: 1.5em;
    margin: 0 15px 0 15px;
    filter: invert(1);    
}

.sideBarGrid > a{
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;    
}

a > div{
    font-size: 1.25em;    
}

a{
    color: inherit;
    text-decoration: inherit;
}
.sideBarGrid > a:hover{
    position: relative;
    right: 3px;    
    text-shadow: 2px 2px 5px var(--main-color-900);
}

/* 
TOPBANNER 
*/

.topBanner{
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: 2fr 3fr;
    background-color: var(--main-color-300);

}
.topBannerTop{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 2fr;
    align-items: center;    
}

.searchBar{
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding-right: 100px;
    
}
.searchIcon{
    place-self: center;
    justify-self: end;    
}
.topBannerTopLeft{
    justify-self: center;    
}
.userFont{
   
    font-size: 1em;
    font-weight: bold;
}

.topBannerBottom{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}
.userGreeting{
    display: grid;
    /* grid-template: 1fr 2fr / 1fr 5fr; */
    grid-template: 0.5fr 1fr / 1fr 6fr;
    
}
.userGreeting > img + div{
    align-self: end;
}
.userGreeting > div{
    
    font-weight: bold;
    font-size: 0.8em;
}
.userGreeting > div + div{
    font-size: 1.5em;
    
}
.greetingIcon{
    grid-row: 1 / 3;
    justify-self: stretch;
    font-size: 1.5em;
    padding: 0 20px 0 20px;
    place-self: center;
    

}
.topBannerButton{
    width: 80%;
    height: 40%;
    align-self: center;
    background-color: var(--main-color-500);
    border: none;
    font-size: 1em;
    font-weight: bold;;
    color: var(--main-color-200);
    border-radius: 19px;
}
.topBannerButton:hover{
    position: relative;
    /* left: 1px;     */
    box-shadow: 3px 3px 3px rgba(85, 85, 85, 0.349);
}

img[src*='othericons']{
    height: 1.5em;    
}
img[src*='usericon.svg']{
    height: 3em;
}
input{
    background-color: var(--main-color-50);
    margin: 10px 10px 15px 10px;
    border-radius: 15px;
    height: 2.5em;
    border: none;
    padding: 0 5px 0 15px;
}
input:focus{
    border: 1px solid var(--main-color-900);
    background-color: var(--main-color-200);

}

/* 
MAIN CONTENT 
*/

.mainContent{
    display: grid;
    max-height: 100%;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    background-color: var(--main-color-100);
    box-shadow: 0px -5px rgba(85, 85, 85, 0.349);
    padding: 0 30px 80px 20px;
}

.mainContent > div[class$='Content']{
    margin: 5px;
    background-color: var(--main-color-100);
    /* border: 1px solid var(--main-color-600); */
}
.mainContent > div[class$='Heading']{
    margin: 5px;
    background-color: var(--main-color-100);
    font-size: 1.25em;
    font-weight: 600;
    align-self: end;
    
    
}
.projectsHeading{
    padding-left: 25px;
}
.projectsHeading{
    grid-area: 1 / 1 / 2 / 2;
}
.projectsContent{
    grid-area: 2 / 1 / 5 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;    
    padding-right: 20px;

}
.trendingContent {
    display: grid;
    grid-template-rows: repeat (4, 1fr);;
}

.cards, .announceContent, .trendingContent{

    border: 2px solid black;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 25px 0 25px;
    box-shadow: 3px 3px rgba(85, 85, 85, 0.349);

}

.cards{        
    border-left:10px solid blue;
    box-shadow: 3px 3px rgba(85, 85, 85, 0.349);
}

.mainContent > div[class$="Content"]{
    font-size: 0.8em;
}


.cards > p{
    text-align: right;
}
.cards:hover{
    position:relative;
    left: 3px;
    bottom: 10px;
    box-shadow: 3px 7px var(--main-color-300);
    border-left:10px solid var(--main-color-800);
}

.announceContent > div{
    
}
.contentFirst ~ div{
    border-top: 2px solid var(--main-color-300);
    margin-top: 10px;
    
}
.announceContent > div:last-child{
    margin-bottom: 30px;
}
.trendingCard{
    display: grid;
    grid-template: 1fr 1fr / 1fr 6fr;
    column-gap: 20px;
}
.trendingCard > a {
    grid-row: 1 / 3;
    align-self: center;
}
.trendingCard > a + div{
    font-weight: bold;
    align-self: end;
    margin-bottom: 5px;
}
.trendingCard > a > img[src$='.svg']{
    background-color: rgb(187, 68, 68);
    border-radius: 20px;
}









