@font-face {
    font-family: 'ambleregular';
    src: url('./fonts/AmbleFont/amble-regular-webfont.woff2') format('woff2'),
         url('./fonts/AmbleFont/amble-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: 'ambleregular';
    /* font-size: 1.25em; */
    
    
}
body{
    height: 100vh;
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
.topBanner{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.sideBar{
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}


/* 
SIDEBAR 
*/

.sideBar{
    background-color: rgb(2, 119, 158);
    font-weight: 700;
    color: white;
}
.sideBarTop{
    display: flex; 
    align-items: center;  
    font-size: 1.5em; 
    
}

.sideBarGrid{
    display: grid;
    grid-template-rows: repeat(10, 1fr) 10fr;
    /* grid-template-columns: 1fr 4fr; */
    align-items: center;  
    height: 100vh;
}

img[src*='sidebarIcons']{
    height: 1.5em;
    margin: 0 15px 0 15px;
    filter: invert(1);    
}

.sideBarGrid > a{
    display: flex;
    align-items: center;    
}

a > div{
    font-size: 1.25em;    
}

a{
    color: inherit;
    text-decoration: inherit;
}
.sideBarGrid > a:hover{
    position: relative;
    right: 3px;    
    text-shadow: 1px 1px 2px black;
}

/* 
TOPBANNER 
*/

.topBanner{
    /* border: 2px solid black; */
    display: grid;
    grid-template-rows: 2fr 3fr;
    box-shadow: 0px 5px rgba(85, 85, 85, 0.349);

}
.topBannerTop{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 2fr;
    align-items: center;    
}

.searchBar{
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding-right: 100px;
    
}
.searchIcon{
    place-self: center;
    justify-self: end;    
}
.topBannerTopLeft{
    justify-self: center;    
}
.userFont{
   
    font-size: 1em;
    font-weight: bold;
}

.topBannerBottom{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
}
.userGreeting{
    display: grid;
    /* grid-template: 1fr 2fr / 1fr 5fr; */
    grid-template: 0.5fr 1fr / 1fr 6fr;
    
}
.userGreeting > img + div{
    align-self: end;
}
.userGreeting > div{
    
    font-weight: bold;
    font-size: 0.8em;
}
.userGreeting > div + div{
    font-size: 1.5em;
    
}
.greetingIcon{
    grid-row: 1 / 3;
    justify-self: stretch;
    font-size: 1.5em;
    padding: 0 20px 0 20px;
    place-self: center;
    

}
.topBannerButton{
    width: 80%;
    height: 40%;
    align-self: center;
    background-color: rgb(2, 119, 158);
    border: none;
    font-size: 1em;
    font-weight: bold;;
    color: white;
    border-radius: 19px;
}

img[src*='othericons']{
    height: 1.5em;    
}
img[src*='usericon.svg']{
    height: 3em;
}
input{
    background-color: #d6d6d6;
    margin: 10px 10px 15px 10px;
    border-radius: 15px;
    height: 2.5em;
    border: none;
    padding: 0 5px 0 15px;
}
input:focus{
    border: 1px solid black;
}


